.gallery-hero {
    height: 409px;
    background-image: url(/gallery.png);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.gallery-hero .overlay {
    position: absolute;
    inset: 0;
    background-color: #00000080;
    z-index: 1;
}

.gallery-text {
    display: flex;
    flex-direction: column;
    gap: 22px;
    text-align: center;
    z-index: 2;
}

.gallery-text h2 {
    font-family: "Playfair Display";
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #ededed;
}

.gallery-text p {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    color: #b3b3b3;
}

.gallery-section {
    height: auto;
    background: #0E0E0E;
    padding-top: 20px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.gallery-filters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.gallery-filters button {
    width: 121px;
    height: 48px;
    border-radius: 40px;
    border-width: 1px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    border: 1px solid #D4AF37;
    background: transparent;
    font-family: "Inter";
    font-weight: 600;
    font-style: Bold;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
}

.gallery-filters button.active-filter {
    background: #D4AF37;
}

.gallery-grid {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gallery-cards .image {
    width: 373px;
    height: 400px;
    border-radius: 12px;
}

@media screen and (max-width: 768px) {
    .gallery-section {
        padding: 20px;
    }

    .gallery-filters {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }

    .gallery-filters button {
        width: 106px;
        padding-left: 18px;
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .gallery-cards .image {
        width: 100%;
        height: 90%;
    }
}