.service-details-container {
    height: auto;
    background: #0E0E0E;
    padding: 90px 80px;

}

.back-wrapper {
    max-width: 1200px;
    margin: 20px auto 0;
    padding: 40px 20px;
}

.back-btn {
    background: none;
    border: none;
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 13.6px;
    color: #b3b3b3;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    transition: color 0.3s ease;
}

.back-btn:hover {
    color: #D4AF37;
}


.details-main {
    display: flex;
    gap: 40px;
}

.details-img img {
    width: 619px;
    height: 557px;
    border-radius: 12px;
}

.details-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tag {
    width: 64px;
    height: 27px;
    border-radius: 9999px;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    background: #E8E3DC;
    font-family: "Inter";
    font-weight: 500;
    font-style: Medium;
    font-size: 11.9px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #6B6560;
}

.details-info h2 {
    font-family: "Inter";
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #ededed;
}

.details-info .desc {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #b3b3b3;
}

.duration {
    display: flex;
    align-items: center;
    gap: 24px;
}

.clo {
    display: flex;
    align-items: center;
    gap: 7px;
}

.clo span {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #6B6560;
}

.boo-btn {
    width: 530px;
    height: 50px;
    border-radius: 40px;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    background: #D4AF37;
    cursor: pointer;
    font-family: "Outfit";
    font-weight: 600;
    font-style: Bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2B2100;
    text-decoration: none;
    margin-top: 20px;
}

.length select {
    width: 183px;
    height: 44px;
    margin-top: 20px;
    border-radius: 8px;
    border-width: 1px;
    padding: 10px;
    border: 1px solid #D4AF37;
}

.length option {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #EDEDED;
}

.size {
    margin-top: 20px;
}

.size-label {
    font-family: "Inter";
    font-weight: 600;
    font-style: Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #EDEDED;
    margin-top: 20px;
}

.size-label span {
    font-family: "Inter";
    font-weight: 600;
    font-style: Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #EDEDED;
}

.size-options {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-top: 15px;
}

.size-btn {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding: 10px 18px;
    border-radius: 8px;
    border: 1px solid #444;
    background: transparent;
    color: #000;
    cursor: pointer;
    transition: all 0.25s ease;
    background: #FFFFFF;
}

.size-btn:hover {
    border-color: #D4AF37;
}

.size-btn.active {
    background: #d4af37;
    color: #000;
    border-color: #d4af37;
}

.total-price {
    margin-top: 40px;
}

.pr-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total-price .tot,
.total-price .updates {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #b3b3b3;
}

.pr-flex h3 {
    font-family: "Inter";
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0px;
    color: #D4AF37;
}

.overview-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.tab-nav {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.tab-btn {
    background: none;
    border: none;
    padding: 12px 0;
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
    cursor: pointer;
    position: relative;
}

.tab-btn.active {
    color: #D4AF37;
}


.reviews-empty {
    padding: 40px 0;
    text-align: center;
    color: #777;
}


.overview-container h3 {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
    margin-top: 20px;
}

.overview p {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #B3B3B3;
    width: 708px;
}

.benefits {
    margin-top: 15px;
}

.benefits h3 {
    font-family: "Inter";
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #EDEDED;
}

.benefits ul {
    list-style: none;
    margin-top: 20px;
}

.benefits li {
    display: flex;
    align-items: center;
    gap: 7px;
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #EDEDED;
    margin-top: 10px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
    width: 421px;
    height: 275px;
    border-radius: 12px;
    padding: 20px;
    background: #1A1A1A;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box h4 {
    font-family: "Inter";
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #EDEDED;
}

.box-dur p,
.box-du p {
    font-family: "Inter";
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #fff;
}

.box-du .base {
    font-family: "Inter";
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #D4AF37;
}

.box-dur h3 {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;
}

.suitable {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;
}

.all {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;
}

.need {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 421px;
    height: 191px;
    border-radius: 12px;
    padding: 20px;
    background: #1A1A1A;
}

.need h4 {
    font-family: "Inter";
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #EDEDED;
}

.need p {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #EDEDED;
}

.help-btn {
    text-decoration: none;
    width: 381px;
    height: 50px;
    border-radius: 40px;
    padding-top: 14px;
    padding-right: 24px;
    padding-bottom: 14px;
    padding-left: 24px;
    background: #D4AF37;
    margin-top: 10px;
    font-family: "Outfit";
    font-weight: 600;
    font-style: Bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2B2100;
    text-align: center;
}

.also {
    height: auto;
    background: #1A1A1A;
    padding: 50px 80px;
}

.also .service-cards {
    background: #0E0E0E;
    cursor: pointer;
    margin-top: 70px;
}

.related h2 {
    text-align: center;
    font-family: "Playfair Display";
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 36px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #fff;
}

@media screen and (width: 430px) {
    .service-details-container {
        padding: 20px 20px;
    }

    .back-wrapper {
        margin: 40px -20px 0;
    }

    .details-main {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .details-img img {
        width: 389px;
        height: 320px;
    }

    .details-info .desc {
        width: 365px;
    }

    .boo-btn {
        width: 375px;
        height: 50px;
        border-radius: 40px;
        padding-top: 14px;
        padding-right: 24px;
        padding-bottom: 14px;
        padding-left: 24px;
        margin-top: 25px;
    }

    .total-price .updates {
        width: 259px;
    }

    .overview-flex {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .box,
    .need {
        width: 389px;
    }

    .help-btn {
        width: 295px;
    }

    .tab-nav {
        margin-bottom: 0px;
        margin-top: 25px;
    }

    .overview p {
        width: 369px;
    }

    .also {
        padding: 20px;
    }

    .also .service-cards {
        margin-top: 40px;
    }

    .related h2 {
        font-size: 32px;
        margin-top: 20px;
    }

    .service-grid {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .service-cards {
        width: 380px;
        height: 577px;
        margin-left: 7px;
    }

    .service-cards .images {
        width: 380px;
    }

    .service-info {
        padding: 10px;
    }

    .service-flex {
        padding-right: 6px;
        width: 340px;
    }
}

@media screen and (width: 414px) {
    .service-details-container {
        padding: 20px 20px;
    }

    .back-wrapper {
        margin: 40px -20px 0;
    }

    .details-main {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .details-img img {
        width: 373px;
        height: 320px;
    }

    .details-info .desc {
        width: 335px;
    }

    .boo-btn {
        width: 368px;
        height: 50px;
        border-radius: 40px;
        padding-top: 14px;
        padding-right: 24px;
        padding-bottom: 14px;
        padding-left: 24px;
        margin-top: 25px;
    }

    .total-price .updates {
        width: 209px;
    }

    .overview-flex {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .box,
    .need {
        width: 370px;
    }

    .help-btn {
        width: 295px;
    }

    .tab-nav {
        margin-bottom: 0px;
        margin-top: 25px;
    }

    .overview p {
        width: 347px;
    }

    .also {
        padding: 20px;
    }

    .also .service-cards {
        margin-top: 40px;
    }

    .related h2 {
        font-size: 32px;
        margin-top: 20px;
    }

    .service-grid {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .service-cards {
        width: 360px;
        height: 557px;
        margin-left: 7px;
    }

    .service-cards .images {
        width: 360px;
    }

    .service-info {
        padding: 10px;
    }

    .service-flex {
        padding-right: 6px;
        width: 328px;
    }
}

@media screen and (width: 412px) {
    .service-details-container {
        padding: 20px 20px;
    }

    .back-wrapper {
        margin: 40px -20px 0;
    }

    .details-main {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .details-img img {
        width: 373px;
        height: 320px;
    }

    .details-info .desc {
        width: 335px;
    }

    .boo-btn {
        width: 368px;
        height: 50px;
        border-radius: 40px;
        padding-top: 14px;
        padding-right: 24px;
        padding-bottom: 14px;
        padding-left: 24px;
        margin-top: 25px;
    }

    .total-price .updates {
        width: 209px;
    }

    .overview-flex {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .box,
    .need {
        width: 370px;
    }

    .help-btn {
        width: 295px;
    }

    .tab-nav {
        margin-bottom: 0px;
        margin-top: 25px;
    }

    .overview p {
        width: 347px;
    }

    .also {
        padding: 20px;
    }

    .also .service-cards {
        margin-top: 40px;
    }

    .related h2 {
        font-size: 32px;
        margin-top: 20px;
    }

    .service-grid {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .service-cards {
        width: 360px;
        height: 557px;
        margin-left: 7px;
    }

    .service-cards .images {
        width: 360px;
    }

    .service-info {
        padding: 10px;
    }

    .service-flex {
        padding-right: 6px;
        width: 328px;
    }
}

@media screen and (min-width: 390px) and (max-width: 411px) {
    .service-details-container {
        padding: 20px 20px;
    }

    .back-wrapper {
        margin: 40px -20px 0;
    }

    .details-main {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .details-img img {
        width: 350px;
        height: 320px;
    }

    .details-info .desc {
        width: 335px;
    }

    .boo-btn {
        width: 345px;
        height: 50px;
        border-radius: 40px;
        padding-top: 14px;
        padding-right: 24px;
        padding-bottom: 14px;
        padding-left: 24px;
        margin-top: 25px;
    }

    .total-price .updates {
        width: 209px;
    }

    .overview-flex {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .box,
    .need {
        width: 350px;
    }

    .help-btn {
        width: 295px;
    }

    .tab-nav {
        margin-bottom: 0px;
        margin-top: 25px;
    }

    .overview p {
        width: 347px;
    }

    .also {
        padding: 20px;
    }

    .also .service-cards {
        margin-top: 40px;
    }

    .related h2 {
        font-size: 32px;
        margin-top: 20px;
    }

    .service-grid {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .service-cards {
        width: 340px;
        height: 557px;
        margin-left: 7px;
    }

    .service-cards .images {
        width: 340px;
    }

    .service-info {
        padding: 10px;
    }

    .service-flex {
        padding-right: 6px;
        width: 290px;
    }
}

@media screen and (width:375px) {
    .service-details-container {
        padding: 20px 20px;
    }

    .back-wrapper {
        margin: 40px -20px 0;
    }

    .details-main {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .details-img img {
        width: 334px;
        height: 320px;
    }

    .details-info .desc {
        width: 335px;
    }

    .boo-btn {
        width: 325px;
        height: 50px;
        border-radius: 40px;
        padding-top: 14px;
        padding-right: 24px;
        padding-bottom: 14px;
        padding-left: 24px;
        margin-top: 25px;
    }

    .total-price .updates {
        width: 209px;
    }

    .overview-flex {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .box,
    .need {
        width: 334px;
    }

    .help-btn {
        width: 285px;
    }

    .tab-nav {
        margin-bottom: 0px;
        margin-top: 25px;
    }

    .overview p {
        width: 340px;
    }

    .also {
        padding: 20px;
    }

    .also .service-cards {
        margin-top: 40px;
    }

    .related h2 {
        font-size: 32px;
        margin-top: 20px;
    }

    .service-grid {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .service-cards {
        width: 320px;
        height: 557px;
        margin-left: 7px;
    }

    .service-cards .images {
        width: 320px;
    }

    .service-info {
        padding: 10px;
    }

    .service-flex {
        padding-right: 6px;
        width: 300px;
    }
}

@media screen and (max-width:360px) {
    .service-details-container {
        padding: 20px 20px;
    }

    .back-wrapper {
        margin: 40px -20px 0;
    }

    .details-main {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .details-img img {
        width: 324px;
        height: 320px;
    }

    .details-info .desc {
        width: 328px;
    }

    .boo-btn {
        width: 315px;
        height: 50px;
        border-radius: 40px;
        padding-top: 14px;
        padding-right: 24px;
        padding-bottom: 14px;
        padding-left: 24px;
        margin-top: 25px;
    }

    .total-price .updates {
        width: 209px;
    }

    .overview-flex {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .box,
    .need {
        width: 325px;
    }

    .help-btn {
        width: 285px;
    }

    .tab-nav {
        margin-bottom: 0px;
        margin-top: 25px;
    }

    .overview p {
        width: 327px;
    }

    .also {
        padding: 20px;
    }

    .also .service-cards {
        margin-top: 40px;
    }

    .related h2 {
        font-size: 32px;
        margin-top: 20px;
    }

    .service-grid {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .service-cards {
        width: 307px;
        height: 557px;
        margin-left: 7px;
    }

    .service-cards .images {
        width: 305px;
    }

    .service-info {
        padding: 10px;
    }

    .service-flex {
        padding-right: 6px;
        width: 290px;
    }
}