.bookings {
    height: 954px;
    background: #0E0E0E;
    padding-top: 20px;
    padding-right: 80px;
    padding-bottom: 20px;
    padding-left: 80px;
}

.bookings h2 {
    font-family: "Playfair Display";
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #EDEDED;
}

.bookings-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.bookings-message {
    width: 602px;
    height: 749px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 24px;
    padding: 24px;
    background: #1A1A1A;
}

.message-text h4 {
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #EDEDED;
}

.message-text p {
    font-family: "Plus Jakarta Sans";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #B3B3B3;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 30px;
}

.full-name,
.email,
.message-telephone,
.desired,
.text-mt {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.full-name,
.email,
.message-telephone,
.desired,
.text-mt label {
    font-family: "Playfair Display";
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #EDEDED;
}

input,
select {
    width: 554px;
    height: 50px;
    gap: 8px;
    border-radius: 14px;
    padding-top: 14px;
    padding-right: 12px;
    padding-bottom: 14px;
    padding-left: 12px;
    background: #0E0E0E;
    border: none;
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #EDEDED;
}



textarea {
    width: 554px;
    height: 98px;
    gap: 8px;
    border-radius: 14px;
    padding-top: 14px;
    padding-right: 12px;
    padding-bottom: 14px;
    padding-left: 12px;
    background: #0E0E0E;
    border: none;
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #EDEDED;
}

input::placeholder,
textarea::placeholder,
select:invalid {
    font-family: "Plus Jakarta Sans";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #B3B3B3;
}

.submit-btn button {
    width: 554px;
    height: 56px;
    border-radius: 100px;
    padding-top: 13px;
    padding-right: 26px;
    padding-bottom: 13px;
    padding-left: 26px;
    background: #D4AF37;
    border: none;
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2B2100;
    cursor: pointer;
    margin-top: 10px;
}


.bookings-contact {
    width: 602px;
    height: 412px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    border-radius: 20px;
    padding: 20px;
    background: #1A1A1A;
}

.contact-text h4 {
    font-family: "Orbitron";
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #EDEDED;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact-img {
    width: 40px;
    height: 40px;
    padding: 8px;
    background: #EDB51433;
}

.contact-clock-img {
    width: 40px;
    height: 40px;
    padding: 8px;
    background: #EDB51433;
    margin-bottom: 45px;
}

.contact-img-text h4,
.contact-clock-text h4 {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #EDEDED;
}


.contact-img-text p {
    font-family: "Outfit";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF66;
    margin-top: 14px;
}

.contact-clock-text {
    margin-top: 13px;
}

.contact-clock-text p {
    font-family: "Outfit";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF66;
    padding-top: 8px;
}

.map iframe {
    width: 602px;
    height: 322px;
    border-radius: 14px;
    margin-top: 10px;
}

@media screen and (min-width: 768px) and (max-width: 900px) {
    .bookings {
        height: 1800px;
        padding: 90px 20px;
    }

    .bookings-container {
        flex-direction: column;
    }
}

@media screen and (width: 430px) {
    .bookings {
        height: 1913px;
        padding: 20px;
    }

    .bookings h2 {
        font-size: 28px;
        white-space: nowrap;
        margin-top: 20px;
    }

    .bookings-container {
        display: block;
    }

    .bookings-message {
        width: 385px;
        height: 851px;
        margin-top: 30px;
        gap: 10px;
        border-radius: 24px;
        padding: 14px;
    }

    .message-text h4 {
        margin-top: 20px;
    }

    .bookings-contact,
    .map iframe {
        height: 412px;
        width: 386px;
        gap: 20px;
        margin-top: 30px;
    }

    input,
    select {
        width: 349px;
        height: 48px;
        border-radius: 14px;
        padding-top: 14px;
        padding-right: 12px;
        padding-bottom: 14px;
        padding-left: 16px;
    }

    textarea {
        width: 349px;
        border-radius: 14px;
        padding-top: 14px;
        padding-right: 12px;
        padding-bottom: 14px;
        padding-left: 16px;

    }

    .submit-btn button {
        width: 340px;
        margin-top: 20px;
    }

    .contact-text h4 {
        margin-top: 10px;
    }

    .contact-img-text p {
        font-size: 15px;
    }
}

@media screen and (width: 414px) {
    .bookings {
        height: 1913px;
        padding: 20px;
    }

    .bookings h2 {
        font-size: 28px;
        white-space: nowrap;
        margin-top: 20px;
    }

    .bookings-container {
        display: block;
    }

    .bookings-message {
        width: 375px;
        height: 851px;
        margin-top: 30px;
        gap: 10px;
        border-radius: 24px;
        padding: 14px;
    }

    .message-text h4 {
        margin-top: 20px;
    }

    .bookings-contact,
    .map iframe {
        height: 412px;
        width: 375px;
        gap: 20px;
        margin-top: 30px;
    }

    input,
    select {
        width: 349px;
        height: 48px;
        border-radius: 14px;
        padding-top: 14px;
        padding-right: 12px;
        padding-bottom: 14px;
        padding-left: 16px;
    }

    textarea {
        width: 349px;
        border-radius: 14px;
        padding-top: 14px;
        padding-right: 12px;
        padding-bottom: 14px;
        padding-left: 16px;

    }

    .submit-btn button {
        width: 340px;
        margin-top: 20px;
    }

    .contact-text h4 {
        margin-top: 10px;
    }

    .contact-img-text p {
        font-size: 15px;
    }
}

@media screen and (width: 412px) {
    .bookings {
        height: 1913px;
        padding: 20px;
    }

    .bookings h2 {
        font-size: 28px;
        white-space: nowrap;
        margin-top: 20px;
    }

    .bookings-container {
        display: block;
    }

    .bookings-message {
        width: 375px;
        height: 851px;
        margin-top: 30px;
        gap: 10px;
        border-radius: 24px;
        padding: 14px;
    }

    .message-text h4 {
        margin-top: 20px;
    }

    .bookings-contact,
    .map iframe {
        height: 412px;
        width: 375px;
        gap: 20px;
        margin-top: 30px;
    }

    input,
    select {
        width: 349px;
        height: 48px;
        border-radius: 14px;
        padding-top: 14px;
        padding-right: 12px;
        padding-bottom: 14px;
        padding-left: 16px;
    }

    textarea {
        width: 349px;
        border-radius: 14px;
        padding-top: 14px;
        padding-right: 12px;
        padding-bottom: 14px;
        padding-left: 16px;

    }

    .submit-btn button {
        width: 340px;
        margin-top: 20px;
    }

    .contact-text h4 {
        margin-top: 10px;
    }

    .contact-img-text p {
        font-size: 15px;
    }
}

@media screen and (width: 390px) {
    .bookings {
        height: 1913px;
        padding: 20px;
    }

    .bookings h2 {
        font-size: 28px;
        white-space: nowrap;
        margin-top: 20px;
    }

    .bookings-container {
        display: block;
    }

    .bookings-message {
        width: 350px;
        height: 851px;
        margin-top: 30px;
        gap: 10px;
        border-radius: 24px;
        padding: 14px;
    }

    .message-text h4 {
        margin-top: 20px;
    }

    .bookings-contact,
    .map iframe {
        height: 412px;
        width: 350px;
        gap: 20px;
        margin-top: 30px;
    }

    input,
    select {
        width: 325px;
        height: 48px;
        border-radius: 14px;
        padding-top: 14px;
        padding-right: 12px;
        padding-bottom: 14px;
        padding-left: 16px;
    }

    textarea {
        width: 325px;
        border-radius: 14px;
        padding-top: 14px;
        padding-right: 12px;
        padding-bottom: 14px;
        padding-left: 16px;

    }

    .submit-btn button {
        width: 320px;
        margin-top: 20px;
    }

    .contact-text h4 {
        margin-top: 10px;
    }

    .contact-img-text p {
        font-size: 15px;
    }
}

@media screen and (width: 375px) {
    .bookings {
        height: 1913px;
        padding: 20px;
    }

    .bookings h2 {
        font-size: 28px;
        white-space: nowrap;
        margin-top: 20px;
    }

    .bookings-container {
        display: block;
    }

    .bookings-message {
        width: 330px;
        height: 851px;
        margin-top: 30px;
        gap: 10px;
        border-radius: 24px;
        padding: 14px;
    }

    .message-text h4 {
        margin-top: 20px;
    }

    .bookings-contact,
    .map iframe {
        height: 412px;
        width: 328px;
        gap: 20px;
        margin-top: 30px;
    }

    input,
    select {
        width: 289px;
        height: 48px;
        border-radius: 14px;
        padding-top: 14px;
        padding-right: 12px;
        padding-bottom: 14px;
        padding-left: 16px;

    }

    textarea {
        width: 289px;
        border-radius: 14px;
        padding-top: 14px;
        padding-right: 12px;
        padding-bottom: 14px;
        padding-left: 16px;

    }

    .submit-btn button {
        width: 290px;
        margin-top: 20px;
    }

    .contact-text h4 {
        margin-top: 10px;
    }

    .contact-img-text p {
        font-size: 15px;
    }
}

@media screen and (max-width: 360px) {
    .bookings {
        height: 1913px;
        padding: 20px;
    }

    .bookings h2 {
        font-size: 28px;
        white-space: nowrap;
        margin-top: 20px;
    }

    .bookings-container {
        display: block;
    }

    .bookings-message {
        width: 320px;
        height: 851px;
        margin-top: 30px;
        gap: 10px;
        border-radius: 24px;
        padding: 14px;
    }

    .message-text h4 {
        margin-top: 20px;
    }

    .bookings-contact,
    .map iframe {
        height: 412px;
        width: 322px;
        gap: 20px;
        margin-top: 30px;
    }

    input,
    select {
        width: 289px;
        height: 48px;
        border-radius: 14px;
        padding-top: 14px;
        padding-right: 12px;
        padding-bottom: 14px;
        padding-left: 16px;

    }

    textarea {
        width: 289px;
        border-radius: 14px;
        padding-top: 14px;
        padding-right: 12px;
        padding-bottom: 14px;
        padding-left: 16px;

    }

    .submit-btn button {
        width: 290px;
        margin-top: 20px;
    }

    .contact-text h4 {
        margin-top: 10px;
    }

    .contact-img-text p {
        font-size: 15px;
    }
}