.navbar-container {
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-right: 80px;
    padding-bottom: 20px;
    padding-left: 80px;
    background: #1A1A1A;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 38px;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    font-family: "Inter";
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.2px;
    text-align: center;
    color: #EDEDED;
}

.nav-links li a:hover {
    color: #D4AF37;
}

.nav-links li a.active {
    color: #D4AF37;
}

.nav-contacts {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-whatsapp {
    width: 44px;
    height: 44px;
    gap: 10px;
    border-radius: 300px;
}

.nav-whatsapp img,
.cart-wrapper img {
    width: 20px;
    height: 20px;
}

.cart-wrapper {
    position: relative;
    display: inline-block;
    background: #EDEDED;
    padding: 12px;
    width: 44px;
    height: 44px;
    gap: 10px;
    border-radius: 300px;
}


.cart-icon {
    width: 28px;
    height: auto;
    cursor: pointer;
}

.cart-badge {
    position: absolute;
    top: 2px;
    left: 20px;
    background: red;
    color: #fff;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
}


.nav-whatsapp {
    background: #D4AF37;
    padding: 12px;
}