/* OrderPage.css */
.order-page {
    background: #0E0E0E;
    height: 100%;
}

.order-container {
    padding: 120px 80px;
}

.ac {
    display: flex;
    align-items: flex-start;
    /* important */
    gap: 30px;
}



.back-shop {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.back-shop span {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 13.6px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #6B6560;
}

.page-tracker {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
}

.page-tracker span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    /* circle size */
    height: 40px;
    /* circle size */
    border-radius: 50%;
    background-color: #444;
    /* inactive circle color */
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
}

.page-tracker span.active {
    background: #D4AF37;
    color: #000;
    font-family: "Inter";
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.2px;
    vertical-align: middle;
}

.page-tracker .line {
    flex: 1;
    height: 4px;
    background-color: #aaa;
    position: relative;
    top: -1px;
}

.page-tracker span.active+.line {
    background-color: gold;

}


.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 60px;
    flex: 2;
}


.contact-info h3 {
    font-family: "Inter";
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #EDEDED;
}

.contact-form,
.ship-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 18px;
}


.contact-form input,
.adresss input {
    width: 631px;
    height: 48px;
    border-radius: 14px;
    padding-top: 14px;
    padding-right: 12px;
    padding-bottom: 14px;
    padding-left: 12px;
    background: #1A1A1A;
    border: none;
}

.contact-form input::placeholder {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #b3b3b3;
}

.order-content label {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #EDEDED;
    margin-top: 10px;
}

.ship-address h4 {
    font-family: "Inter";
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
    margin-top: 20px;
}

.adresss {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ship-location {
    display: flex;
    align-items: center;
    gap: 20px;
}

.city,
.state,
.zip {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.city input,
.state input,
.zip input {
    width: 197px;
    height: 48px;
    border-radius: 14px;
    gap: 8px;
    padding-top: 14px;
    padding-right: 12px;
    padding-bottom: 14px;
    padding-left: 16px;
    background: #1A1A1A;
}


.order-summary {
    width: 524px;
    height: 100%;
    border-radius: 20px;
    padding: 20px;
    gap: 8px;
    background: #1A1A1A;
    flex: 1;
    margin-top: 50px;
}


.order-summary h3 {
    font-family: "Cormorant";
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.sum-flex {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.summary-item,
.su-tot {
    border-width: 1px;
    border-bottom: 1px solid #FFFFFF;
}

.summary-item img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.summary-details {
    margin-top: -20px;
}

.summary-details .name {
    font-family: "Cormorant";
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #EDEDED;
}

.qty1 {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 22.4px;
    letter-spacing: 0px;
    color: #b3b3b3;
    margin-top: 20px;
}

.qty {
    display: flex;
    align-items: center;
    gap: 180px;
}

.order-summary span {
    font-family: "Inter";
    font-weight: 600;
    font-style: Bold;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    color: #D4AF37;
}

.tot p {
    display: flex;
    align-items: center;
    gap: 246px;
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #b3b3b3;
}

.free-shipping {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 27.2px;
    letter-spacing: 0px;
    color: #b3b3b3;
}