.hero-container {
    background: url(/hero.png) no-repeat center center / cover;
    height: 800px;
    padding-top: 20px;
    padding-right: 80px;
    padding-bottom: 20px;
    padding-left: 80px;
    position: relative;
}

.hero-container .overlay {
    position: absolute;
    inset: 0;
    background-color: #00000080;
    z-index: 1;
}

.hero-writing {
    position: relative;
    z-index: 2;
    margin-top: 198px;
}

.hair {
    width: 227px;
    height: 38px;
    border-radius: 200px;
    padding-block: 12px;
    padding-inline: 9px;
    background: #FFFBF2;
    font-family: "Outfit";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #D4AF37;
}

.hero-text-main h2 {
    font-family: "Playfair Display";
    font-weight: 600;
    font-style: Bold;
    font-size: 64px;
    line-height: 66px;
    letter-spacing: 0%;
    color: #EDEDED;
    width: 680px;
    margin-top: 20px;
}

.hero-text-main p {
    width: 474px;
    font-family: "Outfit";
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0%;
    color: #B3B3B3;
    margin-top: 20px;
}

.ele {
    font-family: "Playfair Display";
    font-weight: 600;
    font-style: Bold;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #D4AF37;
}

.hero-btns {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.hero-book {
    width: 211px;
    height: 48px;
    border-radius: 40px;
    padding-top: 14px;
    padding-right: 24px;
    padding-bottom: 14px;
    padding-left: 24px;
    background: #D4AF37;
    font-family: "Inter";
    font-weight: 600;
    font-style: Bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2B2100;
    text-decoration: none;
}

.explore {
    width: 182px;
    height: 48px;
    border-radius: 40px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    border-width: 1px;
    border: 1px solid #BFA44A;
    font-family: "Outfit";
    font-weight: 600;
    font-style: Bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #BFA44A;
    text-decoration: none;
    white-space: nowrap;
}

.head {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.head p {
    font-family: "Inter";
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #EDEDED;
}

.home-services {
    height: 710px;
    background: #0E0E0E;
    padding-top: 20px;
    padding-right: 80px;
    padding-bottom: 20px;
    padding-left: 80px;
}

.home-service-btn a {
    width: 89px;
    height: 36px;
    border-radius: 40px;
    gap: 10px;
    border-width: 1px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    border: 1px solid #FFFFFF14;
    text-decoration: none;
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: #fff;
}

.home-services-text {
    margin-top: 20px;
}

.home-services-text h2 {
    font-family: "Playfair Display";
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #EDEDED;
}

.view-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.view-flex-paragraph p {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #B3B3B3;
    width: 524px;
}

.view-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.view-btn p {
    font-family: "Inter";
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #D4AF37;
}

.home-services-card {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-top: 40px;
}

.card1 {
    width: 288px;
    height: 420px;
    border-radius: 14px;
    background: #1A1A1A;
}

.card1 img {
    width: 288px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.card-text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
}

.card-text h4 {
    font-family: "Inter";
    font-weight: 700;
    font-style: Bold;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #EDEDED;
}

.card-text p {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #B3B3B3;
}

.price {
    display: flex;
    align-items: center;
    gap: 109px;
}

.price p {
    font-family: "Inter";
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #D4AF37;
}

.price a {
    width: 115px;
    height: 40px;
    border-radius: 30px;
    gap: 10px;
    padding-top: 12px;
    padding-right: 10px;
    padding-bottom: 12px;
    padding-left: 14px;
    text-decoration: none;
    border: 1px solid #E69500;
    background: transparent;
    font-family: "Inter";
    font-weight: 600;
    font-style: Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #D4AF37;
}

.why {
    height: 494px;
    background: #0E0E0E;
    padding-top: 20px;
    padding-right: 80px;
    padding-bottom: 20px;
    padding-left: 80px;
}

.why-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.why-text h2 {
    font-family: "Playfair Display";
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #EDEDED;
}

.why-text p {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #B3B3B3;
}

.why-cards {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 80px;
}

.why-card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.why-card-text h4 {
    font-family: "Inter";
    font-weight: 700;
    font-style: Bold;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #EDEDED;
}

.why-card-text p {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 13.6px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #B3B3B3;
    margin-top: 30px;
}

.shop {
    height: 910px;
    background: #0E0E0E;
    padding-top: 20px;
    padding-right: 80px;
    padding-bottom: 20px;
    padding-left: 80px;
}

.shop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 45px;
}

.shop-btn a {
    width: 124px;
    height: 36px;
    border-radius: 40px;
    gap: 10px;
    border-width: 1px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    border: 1px solid #FFFFFF14;
    text-decoration: none;
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: #D4AF37;
}

.shop-container h2 {
    font-family: "Playfair Display";
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #EDEDED;
}

.shop-container p {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #B3B3B3;
}

.shop-card {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-top: 40px;
}

.card2 {
    width: 288px;
    height: 464px;
    border-radius: 14px;
    background: #1A1A1A;
}

.card2 img {
    width: 288px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.shop-price {
    display: flex;
    align-items: center;
    gap: 159px;
}

.shop-price p {
    font-family: "Inter";
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #D4AF37;
}


.price-img img {
    width: 36px;
    height: 36px;
}

.shop-card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.shop-card-text {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.shop-card-text h4 {
    font-family: "Inter";
    font-weight: 700;
    font-style: Bold;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #EDEDED;
}

.shop-card-text p {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #B3B3B3;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}


.shop-now-btn a {
    width: 245px;
    height: 66px;
    border-radius: 9999px;
    border-width: 2px;
    text-decoration: none;
    background: #000000;
    border: 2px solid #BFA44A;
    padding-inline: 50px;
    padding-block: 10px;
    font-family: "Inter";
    font-weight: 500;
    font-style: Medium;
    font-size: 15.3px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #BFA44A;
}

.shop-now-btn a img {
    transform: translateY(3px);
}

.testimonials {
    height: 614px;
    background: #1A1A1A;
}

.testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    padding-right: 80px;
    padding-bottom: 20px;
    padding-left: 80px;
}

.test {
    width: 135px;
    height: 36px;
    border-radius: 40px;
    border-width: 1px;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    border: 1px solid #FFFFFF14;
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: #D4AF37;
}

.testimonial-container h2 {
    font-family: "Playfair Display";
    font-weight: 600;
    font-style: Bold;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #EDEDED;
}

.testimonial-container p {
    font-family: "Outfit";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF66;
}

.testimonial-slider {
    width: 100%;
    overflow: hidden;
    padding: 40px 0;
}

.slide-track {
    display: flex;
    gap: 20px;
    width: calc(610px * 4 + 20px * 4);
    animation: scroll 25s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-610px * 2 - 20px * 2));
    }
}

.test-card1 {
    flex: 0 0 auto;
    width: 610px;
    height: 290px;
    border-radius: 24px;
    padding: 40px;
    background: #141414;
    margin-top: 40px;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar-img {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.avatar-text h4 {
    font-family: "Inter";
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #EDEDED;
}

.avatar-text p {
    font-family: "Outfit";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF66;
}

.quotes {
    margin-top: 20px;
}

.test-text p {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #B3B3B3;
    margin-top: 20px;
}


.try {
    background: #1A1A1A;
    height: 408px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.transform {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.transform h2 {
    font-family: "Playfair Display";
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #EDEDED;
}

.transform p {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #B3B3B3;
}

.transfrom-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.appoint {
    width: 195px;
    height: 48px;
    border-radius: 40px;
    padding-top: 15px;
    padding-right: 24px;
    padding-bottom: 15px;
    padding-left: 24px;
    background: #D4AF37;
    text-decoration: none;
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #141414;
}

.us {
    width: 136px;
    height: 48px;
    border-radius: 40px;
    padding-top: 14px;
    padding-right: 24px;
    padding-bottom: 14px;
    padding-left: 24px;
    border-width: 1px;
    border: 1px solid #DCDCDC;
    text-decoration: none;
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #EDEDED;
}