.products {
    height: 493px;
    background: url(/shophero.png) no-repeat center center / cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.products .overlay {
    position: absolute;
    inset: 0;
    background-color: #00000080;
    z-index: 1;
}

.product-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    z-index: 2;
}

.product-container h2 {
    font-family: "Playfair Display";
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #EDEDED;
}

.product-container p {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    color: #B3B3B3;
    width: 751px;
}

.category {
    padding-top: 60px;
    padding-right: 80px;
    padding-bottom: 20px;
    padding-left: 80px;
    background: #0E0E0E;

}

.category-filter {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 2px;
    width: 100%;
    max-width: 1150px;
    /* adjust based on your layout */
    margin: 0 auto;
    /* center if container is smaller */
}


.category-filter button {
    width: 106px;
    height: 48px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 12px;
    border-radius: 40px;
    border-width: 1px;
    border: 1px solid #D4AF37;
    background: #0E0E0E;
    font-family: "Inter";
    font-weight: 600;
    font-style: Bold;
    font-size: 13px;
    color: #fff;
    line-height: 100%;
    letter-spacing: 0%;
    white-space: nowrap;
}

.category-filter button.active-filter {
    background: #D4AF37;
}

.sort-dropdown {
    display: flex;
    align-items: center;
    gap: 2px;
    white-space: nowrap;
}

.sort-dropdown label {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #fff;
    line-height: 100%;
    letter-spacing: 0%;
}

.sort-dropdown select {
    width: 110px;
    height: 48px;
    border-radius: 8px;
    border-width: 1px;
    padding: 10px;
    border: 1px solid #FFD700;
    background: #0E0E0E;
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
}

.sort-dropdown select option {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
}

.line4 {
    width: 1209px;
    height: 0px;
    margin-top: 49px;
    margin-right: 24px;
    margin-bottom: 12px;
    border-width: 1px;
    border: 1px solid #B3B3B3;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(220px, 1fr));
    gap: 14px;
    margin-top: 60px;
}

.product-card {
    height: auto;
    background: #1A1A1A;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-card img {
    height: 300px;
}

.product-text {
    padding: 10px;
}

.bundle {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #6B6560;
}

.name {
    font-family: "Inter";
    font-weight: 700;
    font-style: Bold;
    font-size: 13.5px;
    line-height: 23px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #EDEDED;
    margin-top: 20px;
}

.description {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #B3B3B3;
    margin-top: 14px;
}

.point-cont {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 13px;
}

.point {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #D4AF37;
}

.stock {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #D4AF37;
}

.api {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fixed {
    font-family: "Inter";
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #D4AF37;
}

.add-to-cart-btn {
    border: none;
    background: #1A1A1A;
    cursor: pointer;
}

.add-to-cart-btn img.purse {
    width: 30px;
    height: 30px;
}


.pagination {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
    cursor: pointer;
}

.pagination .previous {
    width: 118px;
    height: 40px;
    gap: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-width: 1px;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    border: 1px solid #D0D5DD;
    background: #FFFFFF;
    cursor: pointer;
    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #1D2939;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.pagination button:not(.previous):not(.next):not(.active-page) {
    width: 40px;
    height: 40px;
    background: #F9FAFB;
    border: none;
    cursor: pointer;
}


.active-page {
    width: 40px;
    height: 40px;
    background: #D4AF37;
    border: none;
}

.next {
    width: 92px;
    height: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-width: 1px;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    cursor: pointer;
    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #1D2939;
    display: flex;
    align-items: center;
    gap: 10px;
}

.free {
    background: #1A1A1A;
    height: auto;
    padding: 90px 80px;
}

.free-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    text-align: center;
}

.free-content {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.free-content h3 {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: #EDEDED;
}

.free-content p {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: #B3B3B3;
    margin-top: 28px;
}



@media screen and (max-width: 768px) {
    .product-container p {
        width: 90%;
        margin-left: 20px;
    }

    .category {
        padding: 20px;
    }

    .category-filter {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 6px;
    }

    .category-filter button {
        width: 100%;
        padding: 4px;
        font-size: 12px;
        white-space: nowrap;
    }


    .sort-dropdown {
        grid-column: 1 / -1;
        margin-top: 6px;
    }

    .sort-dropdown select {
        width: 100%;
        margin-left: 0;
    }

    .line4 {
        width: 140%;
    }

    .products-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .product-card {
        height: 100%;
    }

    .product-card img {
        width: 100%;
    }

    .free {
        padding: 20px;
    }

    .free-container {
        flex-direction: column;
        gap: 50px;
        margin-top: 40px;
        margin-bottom: 20px;
    }
}