.cart-modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 480px;
    height: 589px;
    background: #1A1A1A;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    animation: slideIn 0.3s forwards;
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 11px;
    border-bottom-width: 1px;
    border-bottom: 1px solid #E8DDD0;
    width: 443px;
    margin-left: 20px;

}

.cart-header h2 {
    font-family: "Playfair Display";
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.4px;
    color: #EDEDED;
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.cart-body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.empty-cart p {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    width: 162px;
    margin-top: 10px;
}

.but {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #B3B3B3;
    white-space: nowrap;
}

.shop-btn {
    width: 173px;
    height: 50px;
    border-radius: 8px;
    padding: 10px;
    background: #D4AF37;
    font-family: "Inter";
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-transform: capitalize;
    color: #2B2100;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

.cart-flex {
    display: flex;
    flex-direction: column;
    gap: 120px;
    align-items: flex-start;
    margin-right: auto;
    margin-left: -10px;
}


.cart-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-img {
    width: 96px;
    height: 115px;
    margin-top: 15px;
}

.cart-info {
    text-align: left;
}

.cart-info h4 {
    font-family: "Inter";
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #EDEDED;
}

.cart-info p {
    font-family: "Inter";
    font-weight: 600;
    font-style: Bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #D4AF37;
    margin-top: 10px;
}

.ct {
    display: flex;
    align-items: center;
    gap: 200px;
    margin-top: 10px;
}

.qty-control {
    width: 110px;
    height: 42px;
    border-radius: 400px;
    border-width: 1px;
    padding: 5px;
    gap: 20px;
    border: 1px solid #FFD700;
    display: flex;
    align-items: center;
}

.qty-btn {
    border: none;
    background: none;
    margin-left: 4px;
    cursor: pointer;
}

.qty-number {
    font-family: "Inter";
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #EDEDED;
}

.trash {
    border: none;
    background: none;
    cursor: pointer;
}

.minus {
    margin-bottom: 4px;
    margin-left: 8px;
}

.summ {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.proceed {
    width: 444px;
    height: 50px;
    border-radius: 8px;
    background: #D4AF37;
    border: none;
    cursor: pointer;
    font-family: "Inter";
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-transform: capitalize;
    color: #2B2100;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.continue {
    width: 444px;
    height: 50px;
    border-radius: 8px;
    padding: 10px;
    border-width: 1px;
    border: 1px solid #D4AF37;
    background: #1A1A1A;
    cursor: pointer;
    font-family: "Inter";
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-transform: capitalize;
    color: #D4AF37;
}

.cart-p p,
.cart-p h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.cart-p p {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #8B7E74;
}

.cart-p span {
    font-family: "Inter";
    font-weight: 600;
    font-style: Bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #D4AF37;
}

.cart-p h3 {
    font-family: "Inter";
    font-weight: 600;
    font-style: Bold;
    font-size: 16px;
    line-height: 27.2px;
    letter-spacing: 0px;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .cart-modal {
        width: 70%;
        right: 0;
    }

    .cart-header {
        width: 100%;
        margin-left: 0;
        padding: 15px;
    }

    .cart-header h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .cart-body {
        padding: 1.5rem;
    }

    .empty-cart p {
        font-size: 14px;
        line-height: 18px;
        width: 100%;
    }

    .shop-btn {
        width: 100%;
        height: 48px;
        font-size: 15px;
    }
}